	

	.student-input {
	  width: 350px;
	}
	.center_div{
	    margin: 0 auto;
	    width:30% /* value of your choice which suits your alignment */
	}

		.phone-number .col-xs-3::after{
		content: "-";
		position:absolute;
		right: 5px;
		color: black;
		border: 0px solid;
		top: 5px;
}

	.phone-number .col-xs-4{
		width:25%;
	}

	.phone-number .col-xs-3, .phone-number .col-xs-4{

		padding-left:0;
	}  
  body {
      background-color: #f5f5f5;
  }
