
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">

    <title>jCoders Academy - Log In</title>

    <!-- Semantic UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css" integrity="sha256-Z8Bv3UrxpRsWTfTPIjCojw5CdRNYSPw3TyxoU8WZSrM=" crossorigin="anonymous" />

    <style>

      body {
        background: rgb(190, 188, 188);
      }

      .main {
        margin-top: 20em;
      }

    </style>

  </head>


  <body>

    <div class="ui main container">
        <div class="ui grid center aligned">
          <div class="ui row">
            <div class="eight wide column">
                <div class="ui segment">

                  <form class="ui form" method="post" action=".">
                    {% csrf_token %}
                    <!-- test -->
                    {% if invalid %}
                    <div class="ui negative message">
                      <i class="close icon"></i>
                      <div class="header">
                        Invalid username or password!
                      </div>
                      <p>Please try again!
                      </p></div>
                      {% endif %}
                      <h1 class="ui center aligned header">Welcome to jCoders Academy!</i> </h1>
                      <div class="field">
                        <input type="text" id="id_username" name="username" placeholder="Username" required>
                      </div>
                      <div class="field">
                        <input type="password" id="id_password" name="password" placeholder="Password" required>
                      </div>
                      <div class="field">
                        <div class="ui radio checkbox">
                          <input type="checkbox" tabindex="0" class="hidden" value="remember-me">
                          <label>Remember me</label>
                        </div>
                      </div>  
                      <div class="field">
                        <a href="/users/password_reset" class="ui right aligned">Forgot Password?</a>
                      </div>
                      <button class="fluid ui teal button" type="submit">Sign in</button>
                      <p>&copy; 2017-2018</p>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </body>
        <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous">
        </script>
        </html>