{% extends "pages/base.html" %}

{% block content %}

<script>
            $(document).ready(function() {
                $('.event-details').css('display','none');
                $('.event-details').css('height','auto');
                $('.event-details').css('margin-top','-17px');
                $('.event-details > .info').css('height','auto');
                $('.disabled').prev().css('cursor','default');
                
                
                $('.event-list > li').click(function() {
                    if (!$(this).nextAll('.event-details').first().hasClass('disabled')) {
                        //$(this).nextAll('.event-details').first().height('auto');
                        $(this).nextAll('.event-details').first().nextAll('.info').first().height('auto');
                        $(this).nextAll('.event-details').first().slideToggle();
                    }
                });
            })
</script>

<style>
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
    @import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
    .event-list {
		list-style: none;
		font-family: 'Lato', sans-serif;
		margin: 10px;
		padding: 20px;
	}
	.event-list > li {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
        cursor:pointer;
	}
	.event-list > li > time {
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255);
		background-color: rgb(197, 44, 102);
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
	}
	.event-list > li:nth-child(even) > time {
		background-color: rgb(165, 82, 167);
	}
	.event-list > li > time > span {
		display: none;
	}
	.event-list > li > time > .day {
		display: block;
		font-size: 56pt;
		font-weight: 100;
		line-height: 1;
	}
	.event-list > li time > .month {
		display: block;
		font-size: 24pt;
		font-weight: 900;
		line-height: 1;
	}
	.event-list > li > img {
		width: 100%;
	}
	.event-list > li > .info {
		padding-top: 5px;
		text-align: center;
	}
	.event-list > li > .info > .title {
		font-size: 17pt;
		font-weight: 700;
		margin: 0px;
	}
	.event-list > li > .info > .desc {
		font-size: 13pt;
		font-weight: 300;
		margin: 0px;
	}
	.event-list > li > .info > ul,
	.event-list > li > .social > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
	.event-list > li > .social > ul {
		margin: 0px;
	}
	.event-list > li > .info > ul > li,
	.event-list > li > .social > ul > li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 11pt;
		font-weight: 300;
        padding: 3px 0px;
	}
    .event-list > li > .info > ul > li > a {
		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	} 
    .event-list > li > .social > ul > li {    
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        padding: 3px 0px;
	} 
	.event-list > li > .info > ul > li:hover,
	.event-list > li > .social > ul > li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
	}
	.facebook a,
	.twitter a,
	.google-plus a {
		display: block;
		width: 100%;
		color: rgb(75, 110, 168) !important;
	}
	.twitter a {
		color: rgb(79, 213, 248) !important;
	}
	.google-plus a {
		color: rgb(221, 75, 57) !important;
	}
	.facebook:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(75, 110, 168) !important;
	}
	.twitter:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(79, 213, 248) !important;
	}
	.google-plus:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(221, 75, 57) !important;
	}

	@media (min-width: 768px) {
		.event-list > li {
			position: relative;
			display: block;
			width: 100%;
			height: 120px;
			padding: 0px;
		}
		.event-list > li > time,
		.event-list > li > img  {
			display: inline-block;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			float: left;
		}
		.event-list > li > .info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			height: 120px;
			padding: 0px;
			margin: 0px;
		}
		.event-list > li > .info {
			position: relative;
			height: 120px;
			text-align: left;
			padding-right: 40px;
		}	
		.event-list > li > .info > .title, 
		.event-list > li > .info > .desc {
			padding: 0px 10px;
		}
		.event-list > li > .info > ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
		}
		.event-list > li > .social {
			position: absolute;
			top: 0px;
			right: 0px;
			display: block;
			width: 40px;
		}
        .event-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
		.event-list > li > .social > ul > li {			
			display: block;
            padding: 0px;
		}
.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
</style>

    <div class="container1">
		<div class="row">
			<div class="col">
				<ul class="event-list">
					<li>
						<time datetime="{{latestEvent.opened}}">
							<h4>Latest Event </h4>
							<h5>{{latestEvent.opened}}</h5>
							<h6>Price: {{ latestEvent.price }}$</h6>

						</time>
						<!-- <img alt="Independence Day" src="https://farm4.staticflickr.com/3100/2693171833_3545fb852c_q.jpg" /> -->
						<div class="info">
							<h2 class="title">{{latestEvent.name}}</h2>
							<p class="desc">{{ latestEvent.description }}<br>{{ latestEvent.opened }} until {{ latestEvent.closed }}</p>
						</div>
						<div class="social">
							<ul>
								<li class="facebook" style="width:33%;"><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li class="twitter" style="width:34%;"><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li class="google-plus" style="width:33%;"><a href="#"><span class="fa fa-youtube-play"></span></a></li>
							</ul>
						</div>
					</div>
						</li>
						</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row equal">
			<div class="col">
				<div class="card" style="">
				  <div style="text-align: center;" class="card-header">
				    Your info
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item">Account manages student : {{ user.student.name}} {{ user.student.lastname }}</li>
				    <li class="list-group-item">{{ user.student.name }} is in {{ user.student.group }}</li>
				   	<li class="list-group-item">{{user.student.group }}'s teacher is {{user.student.group.training.employee }}</li>
				    <li class="list-group-item">{{ user.student.group }} is currently learning {{ user.student.group.training.module.name }}</li>
				  </ul>
				</div>
			</div>
			<div class="col">
				<div class="card text-center">
				  <div class="card-header">
				    Payments
				  </div>
				  <p>
				  <div class="card-body">
				    <h5 class="card-title">Latest payment : ...</h5>
				    <p>
				    <p class="card-text">You can look for your payments history online!</p>
				    <a href="/users/payments" class="btn btn-primary">Payments History</a>
				    <p> <p> <p> <p>
				  </div>
				</div>
			</div>
		</div>
	</div>




                        <!-- <div class="info" style="height:auto">
                            <p class="desc">Disney Live is a touring stage show produced by Feld Entertainment under agreement with The Walt Disney Company. Aimed primarily at children, the shows feature performers dressed as Disney cartoon characters in performances that each derive their music and plot from elements collected from various Disney films and properties; the "stars" of the show are credited as the Disney characters themselves, performing their parts in mock cameos, while the performers themselves remain anonymous.

Disney Live currently runs five productions and touring companies at any given time. The shows have played all over the world, including non-traditional Disney markets such as South America, the Middle East, and Asia; as well as more traditional markets such as North America, Australia and Europe.</p>    
                        </div> -->
                    </li>
				</ul>
			</div>
		</div>
	</div>



{% endblock content %}