{% extends "pages/base.html" %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<style>
  .table-responsive{margin-top:25px;}
</style>

{% block content %}
<h2 style="text-align: center;">Payments History</h2>
<div class="container">
  <div class="row">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Full Name</th>
            <th>Student</th>
            <th>Group</th>
            <th>Price</th>
            <th>Due Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
        {% for payment in payments %}
          <tr>
            <td>{{ payment.id }}</td>
            <td>{{ payment.firstName }} {{ payment.lastName }}</td>
            <td>{{ payment.student }}</td>
            <td>{{ payment.group }}</td>
            <td>${{ payment.group.training.price }}</td>
            <td>{{ payment.due_date}}</td>
            {% if payment.status == "P" %}
                <td><span class="label label-success"> Payment complete </span></td>
            {% else %}
                <td><span class="label label-info"> Waiting for payment </span></td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}
